.app-header {
    height: 100px;
    width: 100%;
    padding:10px;
    color:#555;
    text-transform: uppercase;
}

.app-title {
    font-size: 30px;
}

.app-body {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    min-height: 100px;
}

.nav-bar li {
    float: left;
    list-style: none;
    margin: 0px 10px;
}

.nav-bar a {
    text-decoration: none;
}